<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.wallchess" version="1.0.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <name>WallChess</name>
    <description>WallChess Game App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>

    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <!-- Cordova Splash Screen preferences -->
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="4000" />
    <preference name="FadeSplashScreenDuration" value="1000" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="ShowSplashScreenSpinner" value="false" />

    <!-- New Android 12+ Splash System -->
    <preference name="AndroidWindowSplashScreen" value="true" />
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="resources/splash/splash-xxxhdpi.png" />
    <preference name="AndroidWindowSplashScreenBackgroundColor" value="#ffffff" />
    <preference name="AndroidWindowSplashScreenDuration" value="4000" />
    <preference name="AndroidWindowSplashScreenScaleType" value="CENTER_CROP" />

</widget>
