<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.wallchess" version="1.0.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <name>WallChess</name>
    <description>WallChess Game App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>

    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <!-- Android 12+ system splash screen -->
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="resources/splash/logo.png" />
    <preference name="AndroidWindowSplashScreenBackgroundColor" value="#252525" />
    <preference name="AndroidWindowSplashScreenScaleType" value="CENTER_CROP" />
    <preference name="AndroidWindowSplashScreenDuration" value="4000" />

    <!-- Legacy splash support (Android < 12) -->
    <platform name="android">
        <splash src="resources/splash/logo.png" density="port-hdpi" />
    </platform>

</widget>
